{% extends "layout.html" %}

{% block title %}Tasks Manager{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand">{{ username }}</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
            </div>
        </div>
        </div>
    </nav>
    <h2>My Tasks</h2>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Due</th>
                <th>Completion Status</th>
                <th>Priority</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task}}</td>
                    <td>{{ task.due }}</td>
                    <td>{{ task.completion_status}}</td>
                    <td>{{ task.priority}}</td>
                    <td>{{ task.details}}</td>
                    <td><a class="add-link" href="{{ url_for('update_task', task_id=task.id) }}">Update</a></td>
                    <td>
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="add-link" href="/add_task">Add</a>
{% endblock %}
